@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=Major+Mono+Display&family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
* {
    font-family: "B612 Mono", monospace;
}

body, .container {
    @apply transition-colors duration-500 ease-in-out;
}

.dark .background-inversed {
    background-color: #e5e7eb;
}

.light .background-inversed {
    background-color: #16181c;
}

.dark .background-inversed-transparent {
    background-color: rgba(229, 231, 235, 0.2);
}

.light .background-inversed-transparent {
    background-color: rgba(22, 24, 28, 0.2);
}

.light body {
    background-color: #e5e7eb;
    color: rgba(0, 0, 0, 0.8);
}

#title {
    font-family: "Major Mono Display", monospace;
}

.container {
    background-color: white;
}

.dark body {
    background-color: #16181c;
    color: #ebf4f1;
}

.dark .container {
    background-color: #26292f;
}

.dark .search {
    @apply bg-white/10
}

.dark .search:focus {
    @apply bg-white/20
}

.text-primary {
    @apply text-green-500;
}

.dark .text-dark {
    @apply text-[#16181c]
}

/* Inputs */
button, input, input:focus, input:focus-visible {
    outline: none;
}

/* Selections */
.dark .text-primary::selection {
    @apply bg-[#e5e7eb];
}

.light .text-primary::selection {
    @apply bg-[#26292f];
}

::selection {
    @apply bg-green-500;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Animation Classes */
.intro-loader {
    animation: intro-slide-in 0.6s cubic-bezier(0.5, 0, 0, 1) both;
}

.intro-loader-reversed {
    animation: intro-slide-in-reversed 0.6s cubic-bezier(0.5, 0, 0, 1) both;
}

.height-100-animation {
    animation: height-slide-in 0.6s ease-out both;
}

.slide-in-blurred-left {
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
    animation-delay: 100ms;
}

.slide-in-bottom {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both reverse;
}

.title-animation {
    animation: puff-in-bottom 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* Animations */
@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform-origin: 100% 50%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes puff-in-bottom {
    0% {
        transform: scale(2);
        transform-origin: 50% 100%;
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes intro-slide-in {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@keyframes intro-slide-in-reversed {
    0% {
        height: 100vh;
    }
    100% {
        height: 0vh;
    }
}

@keyframes height-slide-in {
    0% {
        max-height: 0%;
    }
    100% {
        max-height: 100vh;
    }
}